@model ClientLogIn.Models.ViewModel
@*@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;*@
@{
    ViewData["Title"] = "AdminProfile";
}

<div class="card justify-content-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Profil</a></li>
        </ol>
    </nav>
    <h1 class="text-center">System Administratör</h1>

    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div>
            <p class="alert">@ViewData.ModelState["failedpwd"].Errors.First().ErrorMessage</p>
        </div>
    }


    <div class="container-fluid">

        <div id="profile-row" class="row mb-2">
            <div class="col col-6 offset-3">
                <div class="card p-2 center-div">
                    <form id="profile-info-form" method="post">
                        <div class="form-group">
                            <label for="username-input">Användarnamn</label>
                            <input class="form-control" id="username-input" asp-for=user.UserName disabled />
                        </div>
                        <div class="form-group">
                            <label for="name-input">Namn</label>
                            <input class="form-control" id="name-input" asp-for=user.Name disabled />
                        </div>
                        <div class="form-group">
                            <label for="streetNo-input">Gata</label>
                            <input class="form-control" id="streeNo-input" asp-for=user.StreetNo disabled />
                        </div>
                        <div class="form-group">
                            <label for="zipCode-input">Postnummer</label>
                            <input class="form-control" id="zipCode-input" asp-for=user.ZipCode disabled />
                        </div>
                        <div class="form-group">
                            <label for="city-input">Stad</label>
                            <input class="form-control" id="city-input" asp-for=user.City disabled />
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber-input">Telefon</label>
                            <input class="form-control" id="phoneNumber-input" asp-for=user.PhoneNumber disabled />
                        </div>
                        <div class="form-group">
                            <label for="email-input">E-post</label>
                            <input type="email" class="form-control" id="email-input" asp-for=user.Email disabled />
                        </div>
                        <input hidden asp-for="user.Id" />
                        <div>
                            <button id="edit-toggle-popup" class="btn btn-info">Redigera </button>
                            <button style="display:none;" id="Save-edit" asp-action="Edit" asp-route-User="@Model.user" class="btn btn-success">
                                Spara
                            </button>

                        </div>
                        <hr />
                        <div class="form-group">
                            <button id="toggle-password-btn" class="btn btn-info">Ändra Lösenord</button>
                        </div>

                    </form>

                </div>


            </div>

            <div class="col col-6 offset-3 my-1">

                <div style="display:none;" class="card p-2" id="password-card">
                    <form id="reset-password-form" method="post">

                        <div class="form-group">
                            <label>Nuvarande Lösenord</label>
                            <input class="form-control" type="password" id="old-password-input" />
                        </div>

                        <div class="form-group">
                            <label>Nytt Lösenord</label>
                            <input name="newPassword" asp-for="@Model.newPassword" class="form-control" type="password" id="new-password-input" />
                            <small class="form-text text-muted">Måste innehålla minst 8 tecken varav minst en stor bokstav och minst en siffra!</small>
                        </div>

                        <div class="form-group">
                            <label>Upprepa Lösenord</label>
                            <input name="newPasswordRepeat" asp-for="@Model.newPasswordRepeat" class="form-control" type="password" id="new-password-input-again" />
                            <small class="form-text text-muted">Upprepa nytt lösenord</small>
                        </div>
                        <input hidden asp-for="@Model.user.Id" value="@Model.user.Id" />
                        <div class="form-group">
                            <button asp-action="ResetPassword" asp-controller="User" class="btn btn-outline" type="submit">Spara</button>
                            <button class="btn btn-outline-danger">Avbryt</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<br/>
@if(User.Identity.IsAuthenticated)
{

    
}

