@model IEnumerable<ClientLogIn.Models.User>

@{
    ViewData["Title"] = "GetAllUsers";
}

<div class="card">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="AdminProfile" asp-controller="User">Profil</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Alla Användare</a></li>
        </ol>
    </nav>
    <h1>Alla Användare</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Namn
                </th>
                <th>
                    Användarnamn
                </th>
                <th>
                    E-post
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@item.Id">Profil</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>